* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  


.titulo {
    background-color: lightblue;
    padding: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serifs;
}

.navegacion {
    text-align: center;
    font-family: 'Times New Roman', Times, serifs;
    background-color: dimgray;
    padding: 15px;
}
nav a {
    margin: 0 10px; 
    text-decoration: none; 
    padding: 5px; 
    color: black;
}
  